<div>
  <input class="input-box" (click)="openClock()" 
    [value]="selectedHour + ':' + selectedMinute + ' ' + selectedTime"
    readonly type="text" placeholder="H:MM"/>
  <span (click)="openClock()" class="icon-clock">
    <i *ngIf="!open" class="fa fa-clock-o" aria-hidden="true"></i>
    <i *ngIf="open" class="fa fa-times" aria-hidden="true"></i>
  </span>
</div>

<div *ngIf="open === true" class="wrapper">
  <div class="theme-switcher">
    <button class="theme-button" (click)="setTheme('light')" [class.active]="currentTheme === 'light'">Light</button>
    <button class="theme-button" (click)="setTheme('dark')" [class.active]="currentTheme === 'dark'">Dark</button>
  </div>
  <span class="icon-clock-reset" (click)="resetClock()">Reset Clock</span>
  
  <div class="clock-face" #clockFace>
    <!-- Draggable Hands -->
    <div class="clock-hand hour-hand" 
         [style.transform]="'rotate(' + hourHandRotation + 'deg)'"
         (mousedown)="startDrag('hour', $event)"></div>
    <div class="clock-hand minute-hand" 
         [style.transform]="'rotate(' + minuteHandRotation + 'deg)'"
         (mousedown)="startDrag('minute', $event)"></div>
    <!-- Center Dot -->
    <div class="clock-center-dot"></div>

    <!-- Hour Numbers -->
    <h1 class="hour">
      <span *ngFor="let hour of hours; let i = index"
        [class.active]="selectedHour == hour.hour"
        [ngStyle]="{'transform': 'rotate(' + hour.degree + 'deg)'}"
        (click)="setHour(hour.hour)">
        {{ hour.hour }}
      </span>
    </h1>
    <!-- Minute Markers/Numbers -->
    <h1 class="minute">
      <span *ngFor="let minute of minutes; let i = index"
        [class.active]="selectedMinute == minute.display"
        [ngStyle]="{'transform': 'rotate(' + minute.degree + 'deg)'}"
        (click)="setMinute(minute.minute)">
        <ng-container *ngIf="!minute.hide">
          {{ minute.display }}
        </ng-container>
        <ng-container *ngIf="minute.hide">.</ng-container>
      </span>
    </h1>
  </div>

  <div class="am-pm-box">
    <span>AM</span>
    <label class="switch">
      <input type="checkbox" [checked]="selectedTime === 'PM'" (change)="toggleTime()">
      <span class="slider"></span>
    </label>
    <span>PM</span>
  </div>
</div>